<div class="bg-airbus">
  <div class="row">
    <div class="m-4 col-8">
      <img
        alt="Opt alp thumbnail"
        style="height: 25px"
        src="assets/img/Airbus.png"
        href="#"
      />
    </div>
    <div class="col-1 my-4">

          <a class="nav-link text-white" routerLink="/aircrafts">Aircrafts</a> </div>
          <div class="col-1 my-4">
          <a class="nav-link text-white" routerLink="/aircrafts-alert">Alert</a> </div>
          <div class="col-1 my-4">
          <a class="nav-link text-white" routerLink="/login">Login</a> </div>

  </div>
</div>
